<section *ngIf="musica">
  <h1 class="mb-4 mt-5 border-bottom">{{musica.titulo}}</h1>
  <div>
    <span *ngIf="musica.artistas.length == 1"><i class="text-muted fas fa-user"></i></span>
    <span *ngIf="musica.artistas.length != 1"><i class="text-muted fas fa-users"></i></span>
    &nbsp;
    <span *ngFor="let artista of musica.artistas; last as ultimo">
      <a [routerLink]="['/artistas', artista.id]">{{ artista.nome }}</a><span *ngIf="!ultimo">, </span>
    </span>
  </div>
  <div>
    <i class="text-muted fas fa-tag"></i>
    &nbsp;
    <a [routerLink]="['/genero', musica.genero.id]">{{musica.genero.nome}}</a><span *ngIf="!ultimo">, </span>
    <br>
    <button type="button" class="btn btn-primary" (click)="disco.gostar(musica)">Gostei</button>
    <button type="button" class="btn btn-danger" (click)="disco.naoGosta(musica)">Não Gostei</button>
    <br>
    <p>
      Gostaram {{musica.gostar}}
      <br>
      Não Gostaram {{musica.naoGostar}}
    </p>
  </div>
</section>